.logo {
    width: 50px;
    height: auto;
}

.logo:hover{
    transform: scale(1.5);
    transition: transform 0.2s ease-in;
}

.navBar {
    border-bottom: 1px solid #a8a8a8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 40px;
    background: rgb(253, 247, 239);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.navBar.fixed.shadow-after-3:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    bottom: -60px;
}

.speechBubble {
    position: absolute;
    top: 20px;
    left: 45px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    max-width: 600px;
    text-wrap: nowrap;
}

* {box-sizing: border-box;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}