@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-playfair: 'playfair', sans-serif;
  --font-family-ibm: 'ibm', sans-serif;
  --font-family-sourceRegular: 'sourceRegular', monospace; 
  --font-family-sourceBold: 'sourceBold', monospace; 
}

@font-face {
  font-family: 'playfair';
  src: url('/fonts/PlayfairDisplay-Black.ttf') format('truetype');
  font-display: auto;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'ibm';
  src: url('/fonts/IBMPlexSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-display: auto;

  font-style: normal;
}

@font-face {
  font-family: 'sourceRegular';
  src: url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
    font-display: auto;

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sourceBold';
  src: url('/fonts/SourceCodePro-Bold.ttf') format('truetype');
    font-display: auto;

  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
.custom-cursor:hover {
  cursor: url('/assets/steve-cursor.cur'), auto;
}

::selection {
	background: #222;
  color: oklch(98% 0.016 73.684);
}

[data-rmiz-btn-unzoom] {
  display: none;
}

[data-rmiz-modal-overlay] {
  opacity: 0.8;
}

[data-rmiz-modal-img] {
  border: solid 0.3rem rgb(239, 192, 126);
  border-radius: 1.5rem;
}