@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-playfair: Playfair Display, sans-serif;
  --font-family-source: Source Code Pro, monospace; 
  --font-family-ibx: IBM Plex Sans, sans-serif;
}

::selection {
	background: #222;
  color: oklch(98% 0.016 73.684);
}