@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-playfair: Playfair Display, sans-serif;
  --font-family-source: Source Code Pro, monospace; 
  --font-family-ibx: IBM Plex Sans, sans-serif;
}

html {
  scroll-behavior: smooth;
}
.custom-cursor:hover {
  cursor: url('/assets/steve-cursor.cur'), auto;
}

::selection {
	background: #222;
  color: oklch(98% 0.016 73.684);
}

[data-rmiz-btn-unzoom] {
  display: none;
}

[data-rmiz-modal-overlay] {
  opacity: 0.8;
}

[data-rmiz-modal-img] {
  border: solid 0.3rem rgb(239, 192, 126);
  border-radius: 1.5rem;
}